<% include partials/header %>
<h1></h1>
<% if(errors){ %>
  <ul>
    <% errors.forEach(function(error){ %>
      <li><%= error.msg %> </li>
    <% }) %>
  </ul>
<% } %>
<b>Login</b>
<br>
<br>
<form class="" action="/login" method="post">
<table>

  <tr>
    <td><label>username: </label></td>
    <td><input type="text" name="uname" value="" autocomplete="off"></td>
  </tr>
  <tr>
    <td><label>password: </label></td>
    <td><input type="text" name="password" value="" autocomplete="off"></td>
  </tr>
</table>
<br>
  <input type="submit" name="Add" value="login">
</form>
<br>
<br>
<a href="#">Forgot your password?</a>
<br>
<br>
<b>Create Account</b>
<br>
<br>
<form class="" action="/register" method="post">
<table>
    <tr>
    <td><label>username: </label></td>
    <td><input type="text" name="cname" value="" autocomplete="off"></td>
  </tr>
  <tr>
    <td><label>password: </label></td>
    <td><input type="text" name="cpassword" value="" autocomplete="off"></td>
  </tr>
</table>
<br>
<input type="submit" name="Add" value="create account">
</form>
